.loading__shimmer {        
    &-product {
        display: flex;
        flex-wrap: wrap;   
        background-color: #ffffff;
        .ant-skeleton {
            display: inline-block;
            width: fit-content;            
            margin-left: auto;
            margin-right: auto;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
            border: 0.5px solid #f2f4f7;
            max-height: 250px;
            border-right-width: 0.5px;
            border-left-width: 0px;
        }        
        .ant-skeleton-header {
            display: block;  
            padding: 12px 26px 0 26px !important;
            margin-bottom: 14px;
            text-align: center;
        }
        .ant-skeleton-content {
            display: block;
            padding: 0 12px 12px 26px;
            .ant-skeleton-paragraph {
                > li {
                    height: 14px;
                    width: 55%;
                    + li {
                        margin-top: 7px !important;
                    }
                }
            }
        }
        .ant-skeleton-avatar {
            width: 100% !important;
            height: 109px !important;
            border-radius: 0 !important;
        }
        .ant-skeleton-title {        
            margin-top: 0 !important;
            height: 14px !important;
            margin-bottom: 18px !important;
        }
        .ant-skeleton-paragraph {
            padding-left: 0;
            margin-top: 10px !important;
            margin-bottom: 0 !important;
        }
        .ant-skeleton-content .ant-skeleton-paragraph > li + li {
            margin-top: 10px !important;
        }
    } 
}